<div class="container">
  <h1 class="text-center">Cool Marketing</h1>
  <div class="search">
    <form action="/">
      <input type="text" value="{{keyword}}" name="keyword">
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="display">
    <div class="row">
      <div class="col-sm-6">

      </div>
      <div class="col-sm-6">
      
      </div>
    </div>
  </div>
</div>